@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  cursor: none;
}
body {
  font-family: "Cabinet Grotesk", sans-serif;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
